<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--Action-->
    <bean id="storageDetailAction" class="cn.com.zv2.invoice.storagedetail.web.StorageDetailAction" scope="prototype">
        <property name="storageDetailService" ref="storageDetailService"/>
    </bean>
    <!--Service-->
    <bean id="storageDetailService" class="cn.com.zv2.invoice.storagedetail.service.impl.StorageDetailServiceImpl">
        <property name="storageDetailDao" ref="storageDetailDao"/>
    </bean>
    <!--Dao-->
    <bean id="storageDetailDao" class="cn.com.zv2.invoice.storagedetail.dao.impl.StorageDetailDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
</beans>
