<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--Action-->
    <bean id="roleAction" class="cn.com.zv2.auth.role.web.RoleAction" scope="prototype">
        <property name="roleService" ref="roleService"/>
        <property name="resourceService" ref="resourceService"/>
    </bean>
    <!--Service-->
    <bean id="roleService" class="cn.com.zv2.auth.role.service.impl.RoleServiceImpl">
        <property name="roleDao" ref="roleDao"/>
    </bean>
    <!--Dao-->
    <bean id="roleDao" class="cn.com.zv2.auth.role.dao.impl.RoleDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
</beans>
