<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--Action-->
    <bean id="orderDetailAction" class="cn.com.zv2.invoice.orderdetail.web.OrderDetailAction" scope="prototype">
        <property name="orderDetailService" ref="orderDetailService"/>
    </bean>
    <!--Service-->
    <bean id="orderDetailService" class="cn.com.zv2.invoice.orderdetail.service.impl.OrderDetailServiceImpl">
        <property name="orderDetailDao" ref="orderDetailDao"/>
    </bean>
    <!--Dao-->
    <bean id="orderDetailDao" class="cn.com.zv2.invoice.orderdetail.dao.impl.OrderDetailDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
</beans>
